@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", arial, sans-serif;
}

/* configurações para o modo escuro */
.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}

.dark-mode .content {
  color: #fff;
}

.dark-mode a img {
  filter: invert();
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 5vh;
  justify-content: space-between;
  padding: 0 1em;
  user-select: none;
}

#logotype {
  height: 60%;
}

#header-itens {
  display: flex;
  align-items: center;
}
.header-btns {
  margin: 0 0.5em;
}

.text-increase,
.text-decrease {
  cursor: pointer;
}

#size-btns {
  font-size: 1.2em;
  font-weight: 600;
  cursor: default;
}

.material-symbols-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.nav-bar {
  font-size: 2em;
}

.dark-light {
  font-weight: bolder;
}

h1 {
  border-left: 1px solid;
  font-weight: 600;
  font-size: 1.51em;
  padding-left: 0.5em;
}

a img {
  width: 4vh;
}

a {
  display: flex;
  align-items: center;
}

#create-update {
  margin: 1vh 0 1vh 5px;
  color: #909090;
  font-weight: 300;
  font-size: 0.75em;
}

article {
  text-align: left;
  padding: 0 6vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

audio {
  max-width: 70vw;
  height: 2.1em;
}

#audio-area {
  margin: 0.6em 0;
  font-weight: 600;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}
#audio-area p {
  margin-left: 10px;
}

.content {
  color: #1e1e1e;
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.4em;
  }

  #create-update {
    font-size: 0.9em;
  }

  #header-itens {
    font-size: 1.3em;
  }
}

/* versão para impressão */
@media print {
  header {
    box-shadow: none;
    padding: 0;
    margin: 10px;
    height: 8vh;
    justify-content: center;
  }

  #header-itens,
  #audio-area {
    display: none;
  }
}
